.select-section {
  flex: 0 1 172px;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
}

.select {
  transition: all 1s ease-out;
  position: relative;
  height: 44px;
  background-color: #ffffff;
  max-width: 356px;
}

.select-big {
  margin-bottom: 16px;
}

.select .select_small {
  max-width: 172px;
}

.select-default {
  color: #cfcfcf;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
}

.select-top {
  border: 1px solid #b4b4b4;
  border-radius: 18px;

  display: flex;
  padding: 13px 19px 13px 13px;
  align-items: center;
  justify-content: space-between;
}

.select-top img {
  width: 15px;
}
.img-close {
  transition: all 0.5s ease-out;
}

.img-open {
  transform: rotateX(180deg);
}

.sub-select {
  z-index: 1;
  top: 44px;
  background-color: #ffff;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-out;
  border: 1px solid #b4b4b4;
  border-radius: 18px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.select-item {
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #000000;
  font-size: 14px;
  line-height: 16.7px;
}
.select-item:hover {
  cursor: pointer;
  background-color: #ef483e;
  color: #ffffff;
}

.select-choosen {
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  color: black;
}
